<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted">BucketList</h3></a>

    <div class="text-center">
        <!--    <img src="../../static/img/logo.jpg" class="logo">-->
    </div>
    <div>
        <h1>BucketList</h1>
    </div>
    <nav class="gnb-menu">
        <a href="../home.html">홈</a>
        <a href="../board_list.html">버킷리스트 둘러보기</a>
        <a href="../add_bucket.html">버킷리스트 추가하기</a>
        <a href="../my_bucket.html">나의 버킷리스트</a>
    </nav>
</div>