@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div{
    font-family: 'Dolbomche_R', serif;
}

.card{
    width: 400px;
    display: inline-table;
    margin: 30px;
    padding: 10px;
    font-family: 'Dolbomche_R', serif;
    background: lavenderblush;
}