@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: large;
}

div{
    font-family: 'Dolbomche_R', serif;
    font-size: medium;
}

/* 버킷추가 */
.add-form {
    border: 1.5px solid #fed35a;
    border-radius: 20px;
    margin: 30px;
    padding: 30px 50px 50px;
    width: 600px;
    display: inline-block;
    background: #ffedb8;
}

.goal {
    margin: 5px;
    padding: 10px;
}

.kind {
    margin: 5px;
    padding: 10px;
}

.goal-date {
    margin: 5px;
    padding: 10px;
}

.how {
    margin: 5px;
    padding: 10px;
}

.upload-img {
    margin: 5px;
    padding: 10px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid #ffc107;
    background-color: cornsilk;
}

label{
    font-size: 20px;
}

h3{
    font-family: 'Dolbomche_R', serif;
    font-size: 35px;
}